.App {
  text-align: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 3.5rem auto;
}

input {
  margin: 5px;
  padding: 4px 0;
}

details {
  align-items: center;
  color: blue;
}
details:hover {
  cursor: pointer;
}

button {
  width: 10%;
  border-radius: 10%;
  border: 1px solid black;
  margin-top: 10px;
}
